<html>
<head>
    <title>upload the file : Appointment</title>
</head>
<body style="text-align:center;margin-top:100px">
<strong>
    Appointment
</strong>
<p><a href="https://cvp1.moph.go.th/appointment/" target="_blank">https://cvp1.moph.go.th/appointment</a></p>
<p><a href="https://docs.google.com/document/d/1hmlcUNziHMKcVR4_ZED0nWoLZ8Vp14-_x5TC0Tu_Yi8" target="_blank">API Manual</a></p>
<form action="/do_phr" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx"/>
    <p></p>
    <input type="submit" value="Upload">
</form>
</body>
</html>
