<html>
<head>
    <title>upload the file : TELEMED</title>
</head>
<body style="text-align:center;margin-top:100px">
<strong>
    Telemed
</strong>
<p><a href="https://plk.hdc.moph.go.th/hdc/reports/report.php?&cat_id=9d8c311d6336373d40437c4423508cad&id=2d85d6ec39840f8051854b028fa13073#" target="_blank">HDC</a></p>
<form action="/do_telemed" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".txt"/>
    <p></p>
    <input type="submit" value="Upload">
</form>
</body>
</html>
